<div class="sr-payment-form v-grid mdc-layout-grid v-component v-container v-padding--top0 v-padding--right0 v-padding--bottom0 v-padding--left0">
  <div class="mdc-layout-grid__inner">

    <div class="v-column mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-tablet v-column--relative v-grid-column-align-left v-component v-container">
      <div class="v-focusable mdc-text-field mdc-text-field--outlined" style="width: 100%;">
        <div id="card-number" class="input empty v-stripe-element"></div>
        <div class="mdc-notched-outline mdc-notched-outline--upgraded mdc-notched-outline--notched">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="card-number" class="mdc-floating-label mdc-floating-label--float-above">Card Number</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>

      </div>
    </div>

    <div class="v-column mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone v-column--relative v-grid-column-align-left v-component v-container">
      <div class="v-focusable mdc-text-field mdc-text-field--outlined" style="width: 100%;">
        <div id="card-expiry" class="input empty v-stripe-element"></div>
        <div class="mdc-notched-outline mdc-notched-outline--upgraded mdc-notched-outline--notched">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="card-expiry" class="mdc-floating-label mdc-floating-label--float-above">Expiration</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>

      </div>
    </div>

    <div class="v-column mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone v-column--relative v-grid-column-align-left v-component v-container">
      <div class="v-focusable mdc-text-field mdc-text-field--outlined" style="width: 100%;">
        <div id="card-cvc" class="input empty v-stripe-element"></div>
        <div class="mdc-notched-outline mdc-notched-outline--upgraded mdc-notched-outline--notched">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <label for="card-cvc" class="mdc-floating-label mdc-floating-label--float-above">CVC</label>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
    </div>

  </div>
</div>
